#page, body, html {
    height: 100%;
    text-align: center;
    font-size: xx-large;
    /* background-image: linear-gradient(45deg, purple 70%, grey 10%, white 5%); */
    background-color: black;
}

#left {
    width: 10%;
    height: inherit;
    float: left;
    background-color: transparent;
}

#middle {
    width: 80%;
    height: inherit;
    float: left;
    /* background-image: linear-gradient(45deg, red 10%, yellow 70%,purple ); */
    background-image: linear-gradient(45deg, red 10%, yellow 70%,purple );

}

#right {
    width: 10%;
    height: inherit;
    float: right;
    
    
}

header {
    height: 10%;
    background-color: transparent;
    /* background-image: linear-gradient(45deg, purple 10%, yellow 70%,red ); */
    line-height: 100px;
    font-family: Assaf;
}

nav {
    height: 5%;
    background-color: transparent;
    /* background-image: linear-gradient(45deg, red 10%, yellow 70%,purple ); */
    line-height: 50px;
    font-size: smaller;
}

a:nth-child(2) {
    margin-right: 100px;
    margin-left: 100px;
}

#content {
    height: 80%;
    /* background-image: linear-gradient(45deg, black 10%, blue 70%, white); */

}
#content>div {
    padding-top: 100px;
}
footer {
    /* background-color: transparent; */
    height: 4%;
    color: black;
    
}

@font-face {
    src: url(HoneymoonUpBoldPERSONAL.ttf);
    font-family: Assaf;
}

a {
    font-family: david;
}